.page-section {
	@mixin clearfix;
	background-color: $navHover;
	color:$primaryText;
	font-weight: 200;
	width: 100%;


	.wrapper {
		padding: 0;

		@mixin atMedium {
			display: flex;	
			justify-content: space-between;
		}
	}
	

	&__section-title {


		
		text-align: center;
		margin-bottom: -65px;
		h1 {
			font-size: 10.9375rem;
			position: relative;
			color: rgba($primaryText, 0.2);
			margin-top: 40px;
		}

		h3 {
			font-size: 1.625rem;
			position: relative;
			margin-top: -230px;
			text-transform: uppercase;
			font-weight: 300;
			padding-bottom:135px;
		}
	}

	&__section-content {

		text-align: center; 
		flex-basis: 20%;
		flex-wrap: wrap;
		padding: 10px 30px;

		@mixin atMedium {
			padding:33px 0px;
		}
		


		span {
			width: 133px;
			height: 133px;
			background-color: rgba($primaryText, .3);
			display: inline-block;
			border-radius: 50%;
			
			
			i {
				font-size: 2.1875rem;
				position: relative;	
				top: 50%;
				transform: translateY(-50%);

			}
		}


		h2{
			padding-top:20px;
			text-transform: uppercase;
			font-size: 0.9375rem;
			font-weight: 500;
			padding-bottom:20px;
			
		}
		p {}
	}

}