.site-header {
	
	position: absolute;
	z-index: 2;
	width: 100%;

	


	@mixin atMedium {
		border-bottom: 4px solid rgba($navColor, .3);	
		
	}
	

	.wrapper {

		@mixin atMedium {
			display: flex;
			justify-content: space-between;		
		}
		
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		top:10px;
		right:10px;
		z-index: 10;

		&::before {
			content:" ";
			position: absolute;
			top:0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
			
		}

		&__middle {
			position: absolute;
			top:8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all .3s ease-out;
			transform-origin: 0 100%;
			
		}

		&::after {
			content: " ";
			position: absolute;
			bottom:0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
			
		}
		@mixin atMedium{
			display: none;
		}
		
	}

	&__menu-icon--close-x {
		&::before {
			transform:rotate(45deg) scaleX(1.25);
		}

		&::after {
			transform:rotate(-45deg) scaleX(1.25) translateY(1px);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scale(0);

		}
	}
	
	&__logo {
		position: absolute;
		left:50%;
		top:10px;
		transform: translateX(-50%);

		@mixin atMedium {
			position: relative;
			flex-basis: 15%;
			left: 0;
			transform: translateX(50%);
		}
		
		img {
			
			width: 95px;
			height: 95px;	
		}
		
	}

	&__menu-content {
		
		opacity: 0;
		transform: scale(1.2);
		transition: all .3s ease-out;
		z-index: -10;


		@mixin atMedium {
			flex-basis: 75%;
			opacity: 1;
			z-index: 1;
			
		}

		&--is-visible {
			opacity: 1;
			background-color: rgba(#222, 0.95);
			z-index: 1;
			transform: scale(1);

			
			
		}				
	}
}